/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Button bezeled effect */
.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
